html,
body {
  --color-primary: 136 214 147;
  --color-primary-400: 136 214 147;
  --color-primary-600: 136 214 147;
  --pi-primary-color: #88d693;
}

[data-theme="light"],
.light {
  --color-hover: 2 2 3;
  --color-active: 0 0 0;
  --color-green: 0 171 74;
  --color-red: 223 72 76;
  --color-green-100: 51 184 78;
  --color-red-100: 235 66 94;
  --color-red-200: 255 51 78 /0.14;
  --color-blue: 0 82 255;
  --color-yellow: 255 152 57;
  --color-yellow-100: 255 162 0;
  --color-yellow-200: 255 162 0 /0.2;
  --color-warning: 240 186 48;
  --color-warning-new: 219 139 0;
  --color-unactivated: 220 223 230;
  --color-error: 223 72 76;
  --color-accent: 41 44 51;
  --color-accent-weak: 63 64 70;
  --color-accent-sub: 110 114 125;
  --color-secondary: 174 178 189;
  --color-secondary-sub: 236 236 236;
  --color-divider: 233 233 234;
  --color-list-row: 250 251 252;
  --color-card: 255 255 255;
  --color-card-100: 255 255 255;
  --color-new-card: 255 255 255;
  --color-drop-down: 255 255 255;
  --color-bg: 255 255 255;
  --color-text-100: 0 0 0;
  --color-text-200: 50 52 56;
  --color-text-300: 113 120 122;
  --color-text-400: 174 184 184;
  --color-text-500: 236 236 236;
  --color-text-hightlightbtn: 255 255 255;
  --color-text-alwayswhite: 255 255 255;
  --color-text-alwaysblack: 4 11 15;
  --color-hover-100: 243 245 245;
  --color-hover-200: 243 245 245;
  --color-divider-100: 228 228 228;
  --color-divider-200: 236 236 236;
  --color-bg-body: 244 244 245;
  --color-bg-100: 255 255 255;
  --color-bg-200: 255 255 255;
  --color-bg-300: 225 226 229;
  --color-bg-400: 161 162 170;
  --color-bg-modal: 228 228 228;
  --color-bg-gray: 245 247 250;
  --color-btn-primary: 136 214 147;
  --color-btn-hightlight: 0 0 0;
  --color-btn-secondary: 230 235 235;
  --color-btn-tertiary: 242 245 245;
  --color-toggle-highlight: 255 255 255;
  --color-toggle-highlight-100: 255 255 255;
  --color-toggle-highlight-200: 255 255 255;
  --color-toggle-bg: 243 245 245;
  --color-toggle-bg-100: 243 245 245;
  --color-toggle-bg-200: 243 245 245;
  --color-input: 243 245 245;
  --color-input-100: 243 245 245;
  --color-input-200: 243 245 245;
  --color-line-100: 230 235 235;
  --color-line-200: 230 235 235;
  --color-mask-100: 0 0 0 /0.5;
  --color-mask-200: 0 0 0 /0.7;
  --color-increase: 0 171 74;
  --color-increase-100: 39 178 76;
  --color-increase-200: 39 178 76;
  --color-decrease: 223 72 76;
  --color-decrease-100: 235 66 94;
  --color-decrease-200: 235 66 94;
  --color-warning-100: 245 169 17;
  --color-warning-200: 245 169 17;
  --color-error-100: 219 75 99;
  --color-error-200: 219 75 99;
  --color-beige: 148 147 130;
  --color-blue-100: 56 97 245;
  --color-card-200: 255 255 255;
  --color-primary: 39 178 76;
  --color-primary-50: 229 251 232;
  --color-primary-100: 209 245 214;
  --color-primary-200: 171 233 183;
  --color-primary-300: 132 221 150;
  --color-primary-400: 92 204 115;
  --color-primary-500: 39 178 76;
  --color-primary-600: 12 153 59;
  --color-primary-700: 7 122 46;
  --color-primary-800: 0 92 37;
  --color-primary-900: 0 61 24;
  --color-btn-highlight: 45 47 51;
  --color-line-300: 196 204 204;
  --color-popup: 255 255 255;
  --color-red-300: 255 51 78 /0.14;
  --color-green-200: 41 204 72 /0.2;
  --color-blue-200: 0 55 255 /0.18;
  --color-scrollbar: 194 194 194;
  --color-drop-down: 255 255 255;
}

[data-theme="dark"],
.dark {
  --color-hover: 2 2 3;
  --color-active: 255 255 255;
  --color-green: 136 214 147;
  --color-red: 240 72 102;
  --color-green-100: 136 214 147;
  --color-red-100: 245 68 98;
  --color-red-200: 255 51 78 /0.14;
  --color-blue: 21 143 255;
  --color-yellow: 255 208 57;
  --color-yellow-100: 255 194 71;
  --color-yellow-200: 255 162 0 /0.14;
  --color-warning: 240 186 48;
  --color-warning-new: 219 139 0;
  --color-unactivated: 220 223 230;
  --color-error: 240 72 102;
  --color-accent: 245 245 245;
  --color-accent-weak: 161 162 170;
  --color-accent-sub: 154 160 170;
  --color-secondary: 92 96 104;
  --color-secondary-sub: 57 60 67;
  --color-divider: 37 38 44;
  --color-list-row: 26 30 36;
  --color-card: 23 24 27;
  --color-card-100: 26 27 31;
  --color-new-card: 23 24 27;
  --color-drop-down: 40 44 51;
  --color-bg: 17 17 17;
  --color-text-100: 240 245 245;
  --color-text-200: 196 204 204;
  --color-text-300: 113 120 122;
  --color-text-400: 73 78 82;
  --color-text-500: 92 96 104;
  --color-text-hightlightbtn: 0 0 0;
  --color-text-alwayswhite: 255 255 255;
  --color-text-alwaysblack: 4 11 15;
  --color-hover-100: 26 27 31;
  --color-hover-200: 35 37 41;
  --color-divider-100: 38 40 44;
  --color-divider-200: 57 60 67;
  --color-bg-body: 17 17 17;
  --color-bg-100: 17 18 20;
  --color-bg-200: 21 22 26;
  --color-bg-300: 38 40 44;
  --color-bg-400: 63 64 70;
  --color-bg-modal: 38 40 44;
  --color-bg-gray: 26 28 31;
  --color-btn-primary: 136 214 147;
  --color-btn-hightlight: 255 255 255;
  --color-btn-secondary: 54 56 61;
  --color-btn-tertiary: 36 39 41;
  --color-toggle-highlight: 40 42 46;
  --color-toggle-highlight-100: 40 42 46;
  --color-toggle-highlight-200: 54 56 61;
  --color-toggle-bg: 26 27 31;
  --color-toggle-bg-100: 26 27 31;
  --color-toggle-bg-200: 40 42 46;
  --color-input: 26 27 31;
  --color-input-100: 31 32 36;
  --color-input-200: 40 42 46;
  --color-line-100: 31 32 36;
  --color-line-200: 40 42 46;
  --color-mask-100: 0 0 0 /0.5;
  --color-mask-200: 0 0 0 /0.7;
  --color-increase: 136 214 147;
  --color-increase-100: 135 224 147;
  --color-increase-200: 160 235 170;
  --color-decrease: 240 72 102;
  --color-decrease-100: 245 68 98;
  --color-decrease-200: 255 158 168;
  --color-warning-100: 255 194 71;
  --color-warning-200: 255 201 92;
  --color-error-100: 240 72 100;
  --color-error-200: 240 72 100;
  --color-beige: 193 192 174;
  --color-blue-100: 120 193 245;
  --color-card-200: 31 32 36;
  --color-primary: 136 214 147;
  --color-primary-50: 14 30 18;
  --color-primary-100: 24 47 30;
  --color-primary-200: 48 86 56;
  --color-primary-300: 72 128 82;
  --color-primary-400: 102 171 112;
  --color-primary-500: 136 214 147;
  --color-primary-600: 161 229 170;
  --color-primary-700: 183 241 189;
  --color-primary-800: 204 250 208;
  --color-primary-900: 218 255 221;
  --color-btn-highlight: 255 255 255;
  --color-line-300: 60 62 66;
  --color-popup: 35 37 41;
  --color-red-300: 255 51 78 /0.14;
  --color-green-200: 41 204 72 /0.14;
  --color-blue-200: 41 166 255 /0.14;
  --color-scrollbar: 96 96 97;
  --color-drop-down: 12 12 15;
}
